$ig-med-screen: 1200px !default;
$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10;

  &__logo img {
    height: 100px;
    width: 100px;
    &:hover {
      filter: brightness(110%);
    }
    @media (max-width: $ig-small-screen) {
      height: 60px;
      width: 60px;
    }
  }
  &__drawer-links {
    text-decoration: none;
    color: $color-primary;
  }
}

// .nav .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px 0;
//   transition: all 0.3s ease-in-out;
// }

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  // padding: 3rem 0;
}

.nav.active a {
  color: black;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
}
